# Below group disalow all robots.
# To be used in DEVELOPMENT 
User-Agent: *
Disallow: /

# Below group allow all robots.
# To be used in PRODUCTION 
User-Agent: *
Allow: /

Content-Signal: ai-train=yes, search=yes, ai-input=yes
Sitemap: https://www.dotkernel.com/sitemap.xml
