<?php

/**
 * Local configuration.
 *
 * Duplicate this file as `local.php` and change its settings as required.
 * `local.php` is ignored by git and safe to use for local and sensitive data like usernames and passwords.
 */

declare(strict_types=1);

$baseUrl   = 'https://www.dotkernel.com';
$databases = [
    'default' => [
        'host'     => 'localhost',
        'dbname'   => '',
        'user'     => '',
        'password' => '',
        'port'     => 3306,
        'driver'   => 'pdo_mysql',
        'collate'  => 'utf8mb4_general_ci',
    ],
];

$app = [
    'baseUrl' => $baseUrl,
    'meta'    => [
        'title'       => 'Dotkernel | Headless Platform for modern web application',
        'description' => 'Dotkernel is a Headless Platform for building modern web applications '
            . 'using a collection of applications (skeletons).',
        'image'       => $baseUrl . '/uploads/opengraph/dotkernel.png',
        'type'        => 'website',
        'siteName'    => 'Dotkernel Light',
        'locale'      => 'en_US',
        'url'         => $baseUrl,
        'twitterCard' => 'summary_large_image',
        'twitterSite' => '@dotkernel',
    ],
];

return [
    'application' => $app,
    'databases'   => $databases,
    'doctrine'    => [
        'connection' => [
            'orm_default' => [
                'params' => $databases['default'],
            ],
        ],
    ],
    'feed'        => [
        'path' => realpath(__DIR__ . '/../../public/feed.xml'),
    ],
    'routes'      => [
        'page' => [
            'contact'                          => 'contact',
            'dotkernel-packages-oss-lifecycle' => 'dotkernel-packages-oss-lifecycle',
        ],
    ],
    'twig'        => [
        'globals' => [
            'app' => $app,
        ],
    ],
];
