<?php

/**
 * Local configuration.
 *
 * Duplicate this file as `local.php` and change its settings as required.
 * `local.php` is ignored by git and safe to use for local and sensitive data like usernames and passwords.
 */

declare(strict_types=1);

$baseUrl   = 'light-blog.localhost';
$databases = [
    'default' => [
        'host'     => 'db_host',
        'dbname'   => 'db_name',
        'user'     => 'db_user',
        'password' => 'db_password',
        'port'     => 3306,
        'driver'   => 'pdo_mysql',
        'collate'  => 'utf8mb4_general_ci',
    ],
];
return [
    'application' => [
        'url' => $baseUrl,
    ],
    'databases'   => $databases,
    'doctrine'    => [
        'connection' => [
            'orm_default' => [
                'params' => $databases['default'],
            ],
        ],
    ],
    'routes'      => [
        'page' => [
            'about'                            => 'about',
            'who-we-are'                       => 'who-we-are',
            'contact'                          => 'contact',
            'dotkernel-packages-oss-lifecycle' => 'dotkernel-packages-oss-lifecycle',
        ],
    ],
];
